*{
    margin:0;
    padding:0;
}

body{
    background-color: #CA7DF9;
    text-align: center;
}

.container{
    height: 70vh;
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}

.board{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:1.5vmin;

}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    font-size:8vmin;
    color:black;
    background-color:#F896D8;
}

.rest-btn{
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #edd0ee;
        font-weight: bold;
}

.new-btn{
    border-radius: 1rem;
        padding: 1rem;
        font-size: 1rem;
        background-color: #edd0ee;
        font-weight: bold;

}

#mymsg{
    color: black;
    font-size: 8vmin;
    margin-bottom: 2vmin;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}

.hide{
    display:none;
}
